@font-face {
  font-family: 'TeXGyreAdventor-Bold';
  src: url('TeXGyreAdventor-Bold.eot');
  src: url('TeXGyreAdventor-Bold.woff') format('woff'),
       url('TeXGyreAdventor-Bold.ttf') format('truetype'),
       url('TeXGyreAdventor-Bold.svg#TeXGyreAdventor-Bold') format('svg'),
       url('TeXGyreAdventor-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

